## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

g_key

'AIzaSyBgHZYshNuUZigr-pFGoZ8d77a-eV5WNVw'

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,Narasannapeta,18.4167,84.0500,84.27,74,5,3.71,clear sky,IN,2022-05-22 19:21:32
1,1,Hermanus,-34.4187,19.2345,60.31,85,69,7.63,broken clouds,ZA,2022-05-22 19:21:32
2,2,Rikitea,-23.1203,-134.9692,75.85,76,2,13.69,clear sky,PF,2022-05-22 19:21:33
3,3,Kodinsk,58.6881,99.1844,42.71,94,5,1.54,clear sky,RU,2022-05-22 19:22:07
4,4,East London,-33.0153,27.9116,61.32,83,0,3.67,clear sky,ZA,2022-05-22 19:23:40

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,Narasannapeta,18.4167,84.0500,84.27,74,5,3.71,clear sky,IN,2022-05-22 19:21:32
2,2,Rikitea,-23.1203,-134.9692,75.85,76,2,13.69,clear sky,PF,2022-05-22 19:21:33
5,5,Cavalcante,-13.7975,-47.4583,82.00,31,2,3.49,clear sky,BR,2022-05-22 19:23:41
7,7,Senj,44.9894,14.9058,74.07,80,100,5.61,overcast clouds,HR,2022-05-22 19:23:41
9,9,Lompoc,34.6391,-120.4579,77.68,65,0,16.11,clear sky,US,2022-05-22 19:22:06
11,11,Vieste,41.8825,16.1750,70.79,69,25,3.85,scattered clouds,IT,2022-05-22 19:23:42
12,12,Tiznit,29.5833,-9.5000,78.08,45,15,3.91,few clouds,MA,2022-05-22 19:21:35
13,13,Puerto Ayora,-0.7393,-90.3518,78.76,76,66,11.05,broken clouds,EC,2022-05-22 19:22:38
40,40,Sao Filipe,14.8961,-24.4956,72.28,78,6,13.89,clear sky,CV,2022-05-22 19:21:42
43,43,Kapaa,22.0752,-159.3190,78.78,83,100,12.66,overcast clouds,US,2022-05-22 19:21:43

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        275
City           275
Lat            275
Lng            275
Max Temp       275
Humidity       275
Cloudiness     275
Wind Speed     275
Description    275
Country        275
Date           275
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Narasannapeta,IN,84.27,clear sky,18.4167,84.0500,
2,Rikitea,PF,75.85,clear sky,-23.1203,-134.9692,
5,Cavalcante,BR,82.00,clear sky,-13.7975,-47.4583,
7,Senj,HR,74.07,overcast clouds,44.9894,14.9058,
9,Lompoc,US,77.68,clear sky,34.6391,-120.4579,
11,Vieste,IT,70.79,scattered clouds,41.8825,16.1750,
12,Tiznit,MA,78.08,few clouds,29.5833,-9.5000,
13,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
40,Sao Filipe,CV,72.28,clear sky,14.8961,-24.4956,
43,Kapaa,US,78.78,overcast clouds,22.0752,-159.3190,

In [36]:
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": ""}



# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    # If an error is experienced, skip the city.
    except:
        print("Hotel not found. Skipping...")
        pass
    
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [39]:
hotel_df.count()

City           275
Country        275
Max Temp       275
Description    275
Lat            275
Lng            275
Hotel Name     275
dtype: int64

In [38]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna

<bound method DataFrame.dropna of                          City Country  Max Temp       Description      Lat  \
0               Narasannapeta      IN     84.27         clear sky  18.4167
2                     Rikitea      PF     75.85         clear sky -23.1203
5                  Cavalcante      BR     82.00         clear sky -13.7975
7                        Senj      HR     74.07   overcast clouds  44.9894
9                      Lompoc      US     77.68         clear sky  34.6391
..                        ...     ...       ...               ...      ...
692                 Road Town      VG     87.89  scattered clouds  18.4167
693                     Arica      CL     72.95         clear sky -18.4750
695                    Shirdi      IN     79.02         clear sky  19.7667
698                      Ocos      GT     84.67   overcast clouds  14.5094
699  Sao Jose Da Coroa Grande      BR     78.21         clear sky  -8.8978

          Lng                                      Hotel Name
0     84.0500                         AVK events and catering
2   -134.9692                                 People ThankYou
5    -47.4583                           Pousada Vila dos Ipês
7     14.9058                                Roza Guest House
9   -120.4579        Holiday Inn Express Lompoc, an IHG Hotel
..        ...                                             ...
692  -64.6167  ZINGARA 76ft Catamaran, full crew-all included
693  -70.3042                           Hostal Jardin Del Sol
695   74.4833                           Shradha Saburi Palace
698  -92.1933                           Auto Hotel El Soñador
699  -35.1478                                Crôa Mares Hotel

[275 rows x 7 columns]>

In [41]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/Vacation_Database.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [50]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = hotel_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))